<template>

    <div class="mt-2 mb-6 text-sm text-red-600" v-if="errors !== ''">
        {{ errors }}
    </div>

    <form class="space-y-6" @submit.prevent="searching">

        <div class="mb-4 md:flex md:justify-betweenz">
            <div class="mb-4 md:mr-2 md:mb-0">
                <label class="block mb-2 text-sm font-bold text-gray-700" for="param-tagged"> Tagged </label>
                <input
                    class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
                    id="param-tagged"
                    type="text"
                    placeholder="Title"
                    v-model="form.tagged"
                />
            </div>
            <div class="mb-4 md:mr-2 md:mb-0">
                <label class="block mb-2 text-sm font-bold text-gray-700" for="param-fromdate"> From date </label>
                <input
                    class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
                    id="param-fromdate" type="date" name="fromdate" v-model="form.fromdate"/>
            </div>
            <div class="mb-4 md:mr-2 md:mb-0">
                <label class="block mb-2 text-sm font-bold text-gray-700" for="param-todate"> To date </label>
                <input
                    class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
                    id="param-todate" type="date" name="todate" v-model="form.todate"/>
            </div>
            <div class="md:ml-2">
                <label class="block mb-2 text-sm font-bold text-gray-700" for="order">
                    Order
                </label>

                <select id="order" name="order" v-model="form.order"
                        class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline">
                    <option value="asc">Asc</option>
                    <option value="desc">Desc</option>
                </select>
            </div>
            <div class="md:ml-2">
                <label class="block mb-2 text-sm font-bold text-gray-700" for="sort">
                    Sort
                </label>

                <select id="sort" name="sort" v-model="form.sort"
                        class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline">
                    <option>activity</option>
                    <option>votes</option>
                    <option>creation</option>
                    <option>hot</option>
                    <option>week</option>
                    <option>month</option>
                </select>
            </div>
            <div class="md:ml-2 mb-6 text-center">
                <label class="block mb-2 text-sm font-bold text-gray-700">
                    &nbsp;
                </label>
                <button type="submit"
                        class="inline-flex items-center px-4 py-2 text-xs font-semibold tracking-widest text-white uppercase bg-gray-800 rounded-md border border-transparent ring-gray-300 transition duration-150 ease-in-out hover:bg-gray-700 active:bg-gray-900 focus:outline-none focus:border-gray-900 focus:ring disabled:opacity-25">
                    Search
                </button>
            </div>
        </div>
    </form>

    <div class="overflow-hidden overflow-x-auto min-w-full align-middle sm:rounded-md">
        <table class="min-w-full border divide-y divide-gray-200">
            <thead>
            <tr>
                <th class="px-6 py-3 bg-gray-50">
                    <span
                        class="text-xs font-medium tracking-wider leading-4 text-left text-gray-500 uppercase">&nbsp;</span>
                </th>
                <th class="px-6 py-3 bg-gray-50">
                    <span
                        class="text-xs font-medium tracking-wider leading-4 text-left text-gray-500 uppercase">Title</span>
                </th>
                <th class="px-6 py-3 bg-gray-50">
                    <span
                        class="text-xs font-medium tracking-wider leading-4 text-left text-gray-500 uppercase">Author</span>
                </th>
                <th class="px-6 py-3 bg-gray-50">
                    <span
                        class="text-xs font-medium tracking-wider leading-4 text-left text-gray-500 uppercase">Reputation</span>
                </th>
                <th class="px-6 py-3 bg-gray-50">
                    <span
                        class="text-xs font-medium tracking-wider leading-4 text-left text-gray-500 uppercase">Tags</span>
                </th>
            </tr>
            </thead>

            <tbody class="bg-white divide-y divide-gray-200 divide-solid">
            <template v-for="item in questions" :key="item.question_id">
                <tr class="bg-white">
                    <td>
                        <a :href="item.owner.link">
                            <img :src="item.owner.profile_image" width="100">
                        </a>
                    </td>
                    <td class="px-6 py-4 text-sm leading-5 text-gray-900 whitespace-no-wrap">
                        <a :href="item.link"> {{ item.title }} </a>
                    </td>
                    <td class="px-6 py-4 text-sm leading-5 text-gray-900 whitespace-no-wrap">
                        <a :href="item.owner.link"> {{ item.owner.display_name }} </a>
                    </td>
                    <td class="px-6 py-4 text-sm leading-5 text-gray-900 whitespace-no-wrap">
                        {{ item.owner.reputation }}
                    </td>
                    <td class="px-6 py-4 text-sm leading-5 text-gray-900 whitespace-no-wrap">
                        {{ item.tags }}
                    </td>
                </tr>
            </template>
            </tbody>
        </table>
    </div>
</template>

<script>
import useSearch from "../../composables/search";
import {onMounted} from "vue";
import {reactive} from 'vue'

export default {
    setup() {
        const form = reactive({
            tagged: '',
            fromdate: '',
            todate: '',
            order: 'asc',
            sort: 'activity'
        })


        const {questions, getQuestions, errors} = useSearch()

        const searching = async () => {
            await getQuestions({...form})
        }
        //onMounted(getQuestions)

        return {
            form,
            questions,
            getQuestions,
            searching,
            errors
        }
    }

}
</script>
